body, html, p{
	padding: 0;
	margin: 0;
}
body{
	font-size: 12px;
	background-color: #efeff4;
}
.container{
	padding: 1.4rem 1rem;

}
.container .piont{
	width: 0.5rem;
	height: 0.5rem;
	margin-right: 0.7rem;
	background-color: #018dff;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
	margin-bottom: 5px;
}
.container .con-title{
	color: #2c2c2c;
	font-size: 1.05rem;
	line-height: 1.05rem;
	font-family: "SimHei";
	vertical-align: middle;
	padding-bottom: 1rem;
	border-bottom: 1px solid #d2d2d6;
}
.container .con-info{
	line-height: 2.8rem;
	color: #606060;
	font-family: "SimHei";
	font-size: 0.9rem;
}
.container .color{
	color: #018fff;
}
.container .con-img{
	width: 100%;
}
.container .con-news{
	color: #606060;
	font-family: "SimHei";
	font-size: 0.9rem;
	line-height: 1.5rem;
	margin-top: 0.5rem;
}
.mt2{
	margin-top: 1.5rem;
}